# folders
build*/
bin/
lib/
doc/
extern/
.cache/
images/
thesis/
resources/datasets/
docs/generated/
dist/

#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode/debug_target
.vscode/debug_test_target
.vscode/.last_debug
.vscode/.last_debug_test

# bazel related settings
MODULE.bazel.lock
bazel-*
external
.bazelrc.user
.user.bazelrc

# user specific customization
docker/devenv/custom/**/*
.devcontainer/scripts/custom
**/tmp
**/temp
**/*.log
**/*.env
**/*.pyi

# other
.clangd
# Clang - compile commands and corresponding cache
.cache/
compile_commands.json

# Python
**/.coverage
**/.pytest_cache
**/__pycache__
**/*.egg-info
**/*:Zone.Identifier
.venv/**/*

#c++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
